# dependências
node_modules/

# builds
dist/
out/
release/
build/

# electron
*.asar

# plugins grandes
plugins/ffmpeg.exe
plugins/yt-dlp.exe

# logs
npm-debug.log*
yarn-debug.log*
.DS_Store
Thumbs.db