/* VARIAVEIS */
:root {

    /* CORES */
    --cor_bg_bloco_ui: transparent;
    --cor_bg_bloco_ui_hover: #0000002c;
    --cor_bg_item_backgroud: #ffffff0e;
    --cor_bg_item_border: #3a363660; /* #3a363648 */
    --cor_bg_item_hovered: #ffffff08;
    --cor_fontcolor_item_span: #afafaf;
    --cor_fontcolor_item_p: #666;
    --cor_section_fontcolor_h2: #797979;

    /* FUNCIONALIDADES */
    --icon_spacebetween_value: 10px;
    --icon_fontsize_value: 20px;

    /* SEÇÕES */
    --section_h2_fontsize_value: 23px;

    /* FONTE PADRÃO */
    --fonte: font-family: 'Plus Jakarta Sans', sans-serif;;
}

.settings-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
    background: transparent;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.settings-header {
    padding: 20px;
    background-color: transparent;
    border-bottom: 1px solid #2b2828;
    text-align: center;
    position: relative;
}

.settings-header h1 {
    margin: 0;
    font-size: 24px;
    color: #d1d1d1;
}

.settings-content {
    padding: 20px;
}

.settings-section {
    margin-bottom: 20px;
}

.settings-section h2 {
    font-size: var(--section_h2_fontsize_value);
    color: var(--cor_section_fontcolor_h2);
    margin-bottom: 10px;
    padding-bottom: 5px;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.settings-section:hover h2 {
    color: #e9530e;
    border-color: #e9530e;
}

.settings-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.settings-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid var(--cor_bg_item_border);
    transition: background-color 0.3s ease;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--cor_bg_item_backgroud);
}

.settings-item-a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    border-radius: 10;
    background-color: var(--cor_bg_item_backgroud);
}

.settings-item-b {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--cor_bg_item_border);
    align-items: center;
    padding: 15px 0;
    transition: background-color 0.3s ease;
    background-color: var(--cor_bg_item_backgroud);
}

.settings-item-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    transition: background-color 0.3s ease;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--cor_bg_item_backgroud);
}

.settings-item-jam {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    transition: background-color 0.3s ease;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #2d2d2d;
    cursor: pointer;
}

.settings-item-jam-a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    border-radius: 10;
    background-color: #2b2b2b;
    cursor: pointer;
}

.settings-item-jam-b {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ffffff1a;
    align-items: center;
    padding: 15px 0;
    transition: background-color 0.3s ease;
    background-color: #2b2b2b;
    cursor: pointer;
}

.settings-item-jam-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ffffff1a;
    padding: 15px 0;
    transition: background-color 0.3s ease;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #2b2b2b;
    cursor: pointer;
}

.settings-item:hover,
.settings-item-a:hover,
.settings-item-b:hover,
.settings-item-c:hover {
    background-color: var(--cor_bg_item_hovered);
}
.settings-item-jam:hover,
.settings-item-jam-a:hover,
.settings-item-jam-b:hover,
.settings-item-jam-c:hover {
    background-color: #ffffff26;
}

.settings-item .conteudo {
    font-size: 14px;
    color: gray;
}
.settings-item-b .conteudo {
    font-size: 14px;
    color: gray;
}
.settings-item-c .conteudo {
    font-size: 14px;
    color: gray;
}
.settings-item-jam .conteudo {
    font-size: 14px;
    color: gray;
}
.settings-item-jam-a .conteudo {
    font-size: 14px;
    color: gray;
}
.settings-item-jam-b .conteudo {
    font-size: 14px;
    color: gray;
}
.settings-item-jam-c .conteudo {
    font-size: 14px;
    color: gray;
}

.settings-list button {
    background-color: transparent;
    border: none;
    width: 100%;
    cursor: pointer;
}

.settings-bloco-ui {
    padding: 10px 10px;
    background-color: var(--cor_bg_bloco_ui);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
/*.settings-bloco-ui:hover {
    background-color: var(--cor_bg_bloco_ui_hover);
}*/

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin-right: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #e9530e;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

.settings-item span, 
.settings-item-a span, 
.settings-item-b span, 
.settings-item-c span,
.settings-item-jam span,
.settings-item-jam-a span,
.settings-item-jam-b span,
.settings-item-jam-c span,
.settings-item p,
.settings-item-a p,
.settings-item-b p,
.settings-item-c p,
.settings-item-jam p,
.settings-item-jam-a p,
.settings-item-jam-b p,
.settings-item-jam-c p {
    color: var(--cor_fontcolor_item_span);
}

.settings-item span, 
.settings-item-a span, 
.settings-item-b span, 
.settings-item-c span,
.settings-item-jam span,
.settings-item-jam-a span,
.settings-item-jam-b span,
.settings-item-jam-c span {
    padding-left: 15px;
}

.settings-item p,
.settings-item-a p,
.settings-item-b p,
.settings-item-c p,
.setting-iten-jam p,
.setting-iten-jam-a p,
.setting-iten-jam-b p,
.setting-iten-jam-c p {
    margin: 0;
}

.settings-item i,
.settings-item-a i,
.settings-item-b i,
.settings-item-c i,
.settings-item-jam i,
.settings-item-jam-a i,
.settings-item-jam-b i,
.settings-item-jam-c i {
    margin-right: var(--icon_spacebetween_value);
    font-size: var(--icon_fontsize_value);
}

.switch .slider {
    background-color: #333;
}

.switch input:checked + .slider {
    background-color: #e9530e;
}

/* Animações de transição 
@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
} */

.settings-section, .settings-item {
    animation: slideIn 0.5s ease-out;
}

button {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.close-button {
    background: #ff0000;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px; /* Espaçamento entre o botão e o título */
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: #cc0000; /* Cor de destaque ao passar o mouse */
}

/* VARIÁVEIS */
:root {
    --tamanho_inputs: 28%;
}

/* NORMAL */
.settings-item select {
    background-color: #0e0e0e6e;
    color: #fff;
    padding: 8px;
    border-radius: 10px;
    margin-right: 18px;
    border: 1px rgb(77, 77, 77) solid;
    width: var(--tamanho_inputs);
    font-family: var(--fonte);
}

.settings-item select:hover {
    padding: 8px;
    border: 1px gray solid;
    background-color: #0e0e0eaf;
}

.settings-item select:focus {
    background: #181818;
    border-color: #c7490e; /* Alterar a cor da borda para destacar */
    padding: 8px;
    border: 1px #aaaaaa solid;
    background-color: #0e0e0ede;
}

/* Opcional: estilo da borda quando o select está em foco */
.settings-item select:focus::-ms-value {
    color: #333; /* Cor do texto para Internet Explorer */
}

.settings-item input[type=text] {
    background-color: #0e0e0e6e;
    padding: 8px;
    border-radius: 10px;
    margin-right: 18px;
    border: 1px rgb(77, 77, 77) solid;
    margin-top: 0px;
    margin-bottom: 0px;
    width: var(--tamanho_inputs);
    color: #e6e6e6;
    font-family: var(--fonte);
}

.settings-item input[type=text]:hover {
    padding: 8px;
    border: 1px gray solid;
    background-color: #0e0e0eaf;
    width: var(--tamanho_inputs);
}

.settings-item input[type=text]:focus {
    padding: 8px;
    border: 1px #aaaaaa solid;
    background-color: #0e0e0ede;
    width: var(--tamanho_inputs);
}

.settings-item textarea {
    background-color: #0e0e0e6e;
    padding: 8px;
    border-radius: 10px;
    margin-right: 18px;
    border: 1px rgb(77, 77, 77) solid;
    margin-top: 0px;
    margin-bottom: 0px;
    width: var(--tamanho_inputs);
    color: #e6e6e6;
    font-family: var(--fonte);
}

.settings-item textarea:hover {
    padding: 8px;
    border: 1px gray solid;
    background-color: #0e0e0eaf;
    width: var(--tamanho_inputs);
}

.settings-item textarea:focus {
    padding: 8px;
    border: 1px #aaaaaa solid;
    background-color: #0e0e0ede;
    width: var(--tamanho_inputs);
}

/* SETTINGS-ITEM-A */
.settings-item-a select {
    background-color: #0e0e0e6e;
    color: #fff;
    padding: 8px;
    border-radius: 10px;
    margin-right: 18px;
    border: 1px rgb(77, 77, 77) solid;
    width: var(--tamanho_inputs);
    font-family: var(--fonte);
}

.settings-item-a select:hover {
    padding: 8px;
    border: 1px gray solid;
    background-color: #0e0e0eaf;
}

.settings-item-a select:focus {
    background: #181818;
    border-color: #c7490e; /* Alterar a cor da borda para destacar */
    padding: 8px;
    border: 1px #aaaaaa solid;
    background-color: #0e0e0ede;
}

/* Opcional: estilo da borda quando o select está em foco */
.settings-item-a select:focus::-ms-value {
    color: #333; /* Cor do texto para Internet Explorer */
}

.settings-item-a input[type=text] {
    background-color: #0e0e0e6e;
    padding: 8px;
    border-radius: 10px;
    margin-right: 18px;
    border: 1px rgb(77, 77, 77) solid;
    margin-top: 0px;
    margin-bottom: 0px;
    width: var(--tamanho_inputs);
    color: #e6e6e6;
    font-family: var(--fonte);
}

.settings-item-a input[type=text]:hover {
    padding: 8px;
    border: 1px gray solid;
    background-color: #0e0e0eaf;
    width: var(--tamanho_inputs);
}

.settings-item-a input[type=text]:focus {
    padding: 8px;
    border: 1px #aaaaaa solid;
    background-color: #0e0e0ede;
    width: var(--tamanho_inputs);
}

.settings-item-a textarea {
    background-color: #0e0e0e6e;
    padding: 8px;
    border-radius: 10px;
    margin-right: 18px;
    border: 1px rgb(77, 77, 77) solid;
    margin-top: 0px;
    margin-bottom: 0px;
    width: var(--tamanho_inputs);
    color: #e6e6e6;
    font-family: var(--fonte);
}

.settings-item-a textarea:hover {
    padding: 8px;
    border: 1px gray solid;
    background-color: #0e0e0eaf;
    width: var(--tamanho_inputs);
}

.settings-item-a textarea:focus {
    padding: 8px;
    border: 1px #aaaaaa solid;
    background-color: #0e0e0ede;
    width: var(--tamanho_inputs);
}

/* SETTINGS-ITEM-B */
.settings-item-b select {
    background-color: #0e0e0e6e;
    color: #fff;
    padding: 8px;
    border-radius: 10px;
    margin-right: 18px;
    border: 1px rgb(77, 77, 77) solid;
    width: var(--tamanho_inputs);
    font-family: var(--fonte);
}

.settings-item-b select:hover {
    padding: 8px;
    border: 1px gray solid;
    background-color: #0e0e0eaf;
}

.settings-item-b select:focus {
    background: #181818;
    border-color: #c7490e; /* Alterar a cor da borda para destacar */
    padding: 8px;
    border: 1px #aaaaaa solid;
    background-color: #0e0e0ede;
}

/* Opcional: estilo da borda quando o select está em foco */
.settings-item-b select:focus::-ms-value {
    color: #333; /* Cor do texto para Internet Explorer */
}

.settings-item-b input[type=text] {
    background-color: #0e0e0e6e;
    padding: 8px;
    border-radius: 10px;
    margin-right: 18px;
    border: 1px rgb(77, 77, 77) solid;
    margin-top: 0px;
    margin-bottom: 0px;
    width: var(--tamanho_inputs);
    color: #e6e6e6;
    font-family: var(--fonte);
}

.settings-item-b input[type=text]:hover {
    padding: 8px;
    border: 1px gray solid;
    background-color: #0e0e0eaf;
    width: var(--tamanho_inputs);
}

.settings-item-b input[type=text]:focus {
    padding: 8px;
    border: 1px #aaaaaa solid;
    background-color: #0e0e0ede;
    width: var(--tamanho_inputs);
}

.settings-item-b textarea {
    background-color: #0e0e0e6e;
    padding: 8px;
    border-radius: 10px;
    margin-right: 18px;
    border: 1px rgb(77, 77, 77) solid;
    margin-top: 0px;
    margin-bottom: 0px;
    width: var(--tamanho_inputs);
    color: #e6e6e6;
    font-family: var(--fonte);
}

.settings-item-b textarea:hover {
    padding: 8px;
    border: 1px gray solid;
    background-color: #0e0e0eaf;
    width: var(--tamanho_inputs);
}

.settings-item-b textarea:focus {
    padding: 8px;
    border: 1px #aaaaaa solid;
    background-color: #0e0e0ede;
    width: var(--tamanho_inputs);
}

/* SETTINGS-ITEM-C */
.settings-item-c select {
    background-color: #0e0e0e6e;
    color: #fff;
    padding: 8px;
    border-radius: 10px;
    margin-right: 18px;
    border: 1px rgb(77, 77, 77) solid;
    width: var(--tamanho_inputs);
    font-family: var(--fonte);
}

.settings-item-c select:hover {
    padding: 8px;
    border: 1px gray solid;
    background-color: #0e0e0eaf;
}

.settings-item-c select:focus {
    background: #181818;
    border-color: #c7490e; /* Alterar a cor da borda para destacar */
    padding: 8px;
    border: 1px #aaaaaa solid;
    background-color: #0e0e0ede;
}

/* Opcional: estilo da borda quando o select está em foco */
.settings-item-c select:focus::-ms-value {
    color: #333; /* Cor do texto para Internet Explorer */
}

.settings-item-c input[type=text] {
    background-color: #0e0e0e6e;
    padding: 8px;
    border-radius: 10px;
    margin-right: 18px;
    border: 1px rgb(77, 77, 77) solid;
    margin-top: 0px;
    margin-bottom: 0px;
    width: var(--tamanho_inputs);
    color: #e6e6e6;
    font-family: var(--fonte);
}

.settings-item-c input[type=text]:hover {
    padding: 8px;
    border: 1px gray solid;
    background-color: #0e0e0eaf;
    width: var(--tamanho_inputs);
}

.settings-item-c input[type=text]:focus {
    padding: 8px;
    border: 1px #aaaaaa solid;
    background-color: #0e0e0ede;
    width: var(--tamanho_inputs);
}

.settings-item-c textarea {
    background-color: #0e0e0e6e;
    padding: 8px;
    border-radius: 10px;
    margin-right: 18px;
    border: 1px rgb(77, 77, 77) solid;
    margin-top: 0px;
    margin-bottom: 0px;
    width: var(--tamanho_inputs);
    color: #e6e6e6;
    font-family: var(--fonte);
}

.settings-item-c textarea:hover {
    padding: 8px;
    border: 1px gray solid;
    background-color: #0e0e0eaf;
    width: var(--tamanho_inputs);
}

.settings-item-c textarea:focus {
    padding: 8px;
    border: 1px #aaaaaa solid;
    background-color: #0e0e0ede;
    width: var(--tamanho_inputs);
}

.settings-list .pT {
    color: rgb(92, 92, 92);
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 20px;
}

/* DESATIVADOS */
.settings-item.disabled {
    background-color: #33333324;
    color: #73737321;
    user-select: none;
    cursor: not-allowed;
}
.settings-item-a.disabled {
    background-color: #33333324;
    color: #73737321;
    user-select: none;
    cursor: not-allowed;
}
.settings-item-b.disabled {
    background-color: #33333324;
    color: #73737321;
    user-select: none;
    cursor: not-allowed;
}
.settings-item-c.disabled {
    background-color: #33333324;
    color: #73737321;
    user-select: none;
    cursor: not-allowed;
}
.settings-item-jam.disabled {
    background-color: #2b2b2b;
    color: #73737321;
    user-select: none;
    cursor: default;
}
.settings-item-jam-a.disabled {
    background-color: #2b2b2b;
    color: #73737321;
    user-select: none;
    cursor: default;
}
.settings-item-jam-b.disabled {
    background-color: #2b2b2b;
    color: #73737321;
    user-select: none;
    cursor: default;
}
.settings-item-jam-c.disabled {
    background-color: #2b2b2b;
    color: #73737321;
    user-select: none;
    cursor: default;
}

@media (max-width: 600px) {
    .settings-header {
        padding: 20px;
        background-color: #1a1717;
        border-bottom: 1px solid #201d1d;
        text-align: center;
        position: relative;
    }
}